header{
  background-color: black;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  height: 100px;
  width:;
}
nav,li{
  display: inline-block;
  padding: 10px;

}
ul{
list-style: none;
}

.logo{
  text-align: left;
}
.navdiv{
  margin-right: -10px;
  padding-right: 1%;
 text-align: right;
  width: 110%;
  background-color: gray;
  float: right;

}
.nav{
  color: white;
  width: 100%;
}
section{
  height: 140px;
  background-color: orange;
  padding-top: 30px;
  margin-top: 10%;
  text-align: center;
}
.bodydiv{
  background-color: white;
}
.signup,input{
  width: 100%
}
/*grid2*/
.grid-container {
  margin-top: 70px;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: left;
}
